body {
  font: 14px 맑은 고딕;
}

.container {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #e7e7e7;

}

header {
  height: 280px;
  background: url("../images/bg.png") no-repeat;
  background-size: 100% 100%;

  position: relative;

}

header h1 {
  position: absolute;
  right: 20px;
  top: 50px;
  font-size: 3em;
  color: #ffff00;
  text-shadow: 2px 2px 2px lightgray;

}

header h2 {
  position: absolute;
  right: 20px;
  top: 130px;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #ccc;

}

/* 상단 - 메뉴 */
nav {
  /* margin-top: 0; */
}

nav ul {
  list-style: none;
  height: 40px;
  margin: 0;
  background: #271717;
  line-height: 0;

}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 20px;
  text-align: center;

}

nav ul li a {
  text-decoration: none;
  color: beige;
}

nav ul li:hover a {
  color: red;
  font-weight: bold;
}

/* 중단 - 본문, 사이드바 */
section {
  width: 68%;
  float: left;
  padding: 1%;
}

.content1 img {
  width: 95%;
}

aside {
  width: 28%;
  float: right;
  padding: 1%;
  background: #ddffdd;

}

aside .imgs {
  text-align: center;


}

aside img {
  margin-bottom: 10px;
  opacity: 0.5;
}

aside img:hover {
  opacity: 1;

}

/* 하단 - 푸터 */
footer {
  clear: both;
  height: 150px;
  background-color: #003300;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}