body {
  font-family: 'Noto Sans Kr', sans-serif;
}

.container {
  max-width: 1400px;
  background-color: orange;
}

.container .shows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.container .shows .show {
  width: 18%;
  background-color: blue;
  border: 1px solid black;
}

img {
  width: 80%;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

span {
  font-size: 14px;
}